.VideoCard{
    margin-bottom: 40px;
    width: 270px;
}

.VideoCard-thumbnail{
    height: 140px;
    width: 250px;
}

.VideoCar-info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.VideoCard-text{
    margin-left: 15px;
}

.VideoCard-text > h4{
    font-size: 14px;
    margin-bottom: 5px;
}

.VideoCard-text > p{
    font-size: 14px;
    color: grey;
}

.VideoCard-avatar{
    height: 30px !important;
    width: 30px !important;
}